* {
box-sizing: border-box;
}
@font-face {
    font-family:overpass ;
    src: url(./fonts/Overpass/Overpass-VariableFont_wght.ttf);
}
html {
   font-family: overpass;
   
}
body {
    background-color: hsl(216, 12%, 8%);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    
}

.container {
    height: 310px;
    width: 320px;
    padding: 20px;
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: hsl(213, 19%, 18%);
    border-radius: 15px
}

.hidden {
    display: none;
}

.submit-button {
    /* margin-top: 15px; */
    /* width: 80%; */
    height: 36px;
    border-radius: 20px;
    border: none;
    background-color: hsl(25, 97%, 53%);
    margin-top: 22px;
    width: 90%;
    
    font-size: 12px;
    font-weight: 500;
    letter-spacing:1px ;
    cursor: pointer;
}
.ratings {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    gap: 18px;
}
.feedback {
    display: flex;
    flex-direction: row;
    text-align: start;
    
    padding: 5px;
    font-weight: 200;
    font-size: 14px;
    line-height: 1.5;
}

h1 {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    font-size: 18px;
    font-weight: 700;
}
.dot {
     height: 29px;
     width: 29px;
     background-color: hsl(213, 21%, 23%);
     border-radius: 50%;
     display: inline-block;
     justify-items: center;
     padding-top: 9px;
     font-size: 10px;
}

.star-container {
    margin-right: auto;

    height: 29px;
     width: 29px;
     background-color: hsl(213, 21%, 23%);
     border-radius: 50%;
     justify-items: center;
     font-size: 10px;
     
     
    
    }
img {
    text-align: center;
    max-width: 100%;
     max-height: 100%;
     margin-top: 7px;
}

.active {
    background-color: white;
    color: black;
}

.feedback-orange {    
    padding: 5px;
    font-weight: 200;
    font-size: 11px;
    line-height: 1.5;
    color: hsl(25, 97%, 53%);;
    padding-top: 6px;
    
}

.rating-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-inline: auto;
    background-color: hsl(213, 21%, 23%);
    border-radius: 20px;
    width: 170px;
    height: 25px;
    margin-top: 11px;
}
.thanks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
}

.bottom-text {
    display: flex;
    flex-direction: row;
    text-align: center;
    
    padding: 5px;
    font-weight: 200;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 11px;
    font-size: 13px;
    margin-bottom: 15px;
}

.thank-you {
    text-align: center;
    max-width: 100%;
     max-height: 100%;
     margin-top: 30px;
}
