* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{


--Green: hsl(75, 94%, 57%);

--White: hsl(0, 0%, 100%);

--Grey-700: hsl(0, 0%, 20%);
--Gren-800: hsl(0, 0%, 12%);
--Grey-900: hsl(0, 0%, 8%);
}
@font-face {
    font-family: Inter;
    src: url(./fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

.text {
    margin-top: 7px;
    margin-bottom: 7px;
    color: var(--White);
    font-family: inter;
    font-size: 8px;
}
.name {
    color: var(--White);
    font-family: inter;   
}
.location{
    color: var(--Green);
    font-family: inter;
    font-size: 7px;
    font-weight: 600;
}
img {
    width: 15%;
}

body {
    background-color: var(--Grey-900);
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}
.card {
  margin-inline: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Gren-800);
    border-radius: 10px; 
    height: 80vh;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;

}
.cards {
    padding-block: 7px;
    font-family: Inter;
    color: var(--White);
    font-weight: 500;
    font-size: 8px;
    width: 175px;
    background-color: var(--Grey-700);
    border-radius: 4px;
    display: flex;
    justify-content: center;
}