* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:youngSerif ;
    src: url(./assets/Young_Serif/YoungSerif-Regular.ttf);
}
@font-face {
    font-family:outfit ;
    src: url(./assets/Outfit/Outfit-VariableFont_wght.ttf);
}

html{
font-family: outfit;
font-weight: 300;




}
:root {
    --white-100: hsl(0, 0%, 100%);

    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    
    --Brown-800: hsl(14, 45%, 36%);

    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);

}
.over-body-padding{
    padding-inline: 30px;
}

img{
    width: 100%;
    
    
}
.full-structure {
    display: flex;
    flex-direction: column;
    padding-block: 50px;
    
}



h1 {
    font-family: youngSerif;
   margin-top: 40px;
margin-bottom: 20px;
}

h5 {
    font-size: 1.15rem;
    padding-bottom: 5px;
   

}
h3 {
    font-family: youngSerif;
    font-weight: 500;
    color: var(--Brown-800);
    margin-block: 15px;
    font-size: 1.3rem;
    position: relative;
    right: 10px;

}
.preperation{
    background-color: var(--Rose-50);
    border-radius: 6px;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.3;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-inline: 30px;
    color: var(--Brown-800);
}

li{
    padding: 10px;
    margin-left: 7px;
    color: var(--Brown-800);
}
span {
    font-weight: 700;
    color: var(--Brown-800);
}



hr {
    border: none;
    height: 1px;
    border-width: 0.1px;
    background-color: var(--Stone-150);
    margin-top: 7px;
}
td{
    
    border-bottom: 1px solid var(--Stone-150) ;
    
    padding-top: 15px;
    /* padding-left: 50px;
    padding-right: 50px; */
    padding-bottom: 11px;
    padding-right: 20px;
    width: 100%;
}
table {
    border-collapse: collapse;
}


@media (min-width: 840px) {
    img{
        border-radius: 13px;
        
        
    }
    .img-border{
        
        border-radius: 15px;
    }
  .body {
    background-color: var(--Stone-100);
    display: flex;
    justify-content: center;
  } 

.container{
    
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 800px;
    margin: 100px;
    
}



.over-body-padding{
    padding-inline: 50px;
}
}
