* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    
--100Lightgray: hsl(0, 0%, 81%);
--150Lightgrayishblue: hsla(210, 17%, 80%, 0.845);

--400Moderateviolet: hsl(263, 55%, 52%);
--500Verydarkgrayishblue: hsl(217, 19%, 35%);
--600Verydarkblackishblue: hsl(219, 29%, 14%);

}
@font-face {
    font-family: berlow;
    src: url(./font/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf);
}
body{
    background-color:var(--150Lightgrayishblue);
    display: flex;
    justify-content: center;
    min-height: 100vh
 
    
}
.container {
    width: 95%;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 25px;

    
}
html{
    font-family: berlow;
    
}
.c-text {
    font-size: 14px;
    opacity: 65%;
}

.name {
    font-weight: 600;
    font-size: 11px;
}
.sub-name {
    font-size: 9px;
}

.daniel {
    background-color: var(--400Moderateviolet);
    color: var(--100Lightgray);
    font-weight: 200;
}

.jonathan{
background-color: var(--500Verydarkgrayishblue);
color: var(--100Lightgray);
}

.jeanette{
background-color: white;
}

.patrick{
background-color: var(--600Verydarkblackishblue);
color: var(--100Lightgray);

}

.kira {
background-color: white;

}
h1{
    font-weight: 600;
    font-size: 22px;
}

@media (min-width: 840px) { 
    
    .span-2 {
        grid-column: span 2;
    }
    .kira {
        grid-column-start: 2;
        grid-column-end: 4;;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
    
  }
